body {
  background: #f5f6f8;
  font-family: "Open Sans", sans-serif;
}

.content-wrapper {
  margin-left: 260px;
  padding: 30px;
}

.page-title {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 25px;
  display: flex;
  align-items: center;
  gap: 10px;
  color: #333;
}
.page-title i {
  color: #3b82f6;
}

/* CARD */
.password-card {
  width: 45%;
  margin: auto;
  background: white;
  padding: 30px 35px;
  border-radius: 18px;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.1);
}

.form-label {
  font-weight: 600;
  margin-bottom: 5px;
  color: #333;
}

.form-control {
  height: 42px;
  border-radius: 8px;
  margin-bottom: 15px;
}

.btn-save {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border-radius: 10px;
  margin-top: 10px;
}

/* ALERT */
.alert-box {
  width: 45%;
  margin: auto;
  margin-bottom: 20px;
  border-radius: 10px;
  padding: 12px 15px;
  font-size: 15px;
}

.alert-error {
  background: #ffe6e6;
  border-left: 4px solid #dd3d36;
  color: #a3221c;
}
.alert-success {
  background: #e7ffe9;
  border-left: 4px solid #34a853;
  color: #1c7c36;
}
